* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}
p, h2, h3 {
  text-decoration: none;
  letter-spacing: 0.01em;
}
.container {
  max-width: 1038px;
  width: 100%;
  margin: 0 auto;
}
header {
  width: auto;
  height: 58px;
  background-color: #19849B;
  padding-top: 12px;
}
main {
  padding: 51px 0 100px 0;
  background: #262626;
}
.header-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
}
.myself {
  display: flex;
}
.myself-image {
  background-image: url(./imgs/Lucas_pic.png);
  width: 411px;
  height: 355px;
  margin: 0 68px 0 0;
}
.myself-block {
  width: 559px;
}
.myself-line {
  max-width: 559px;
  height: 4px;
  background: #19849B;
  margin: 14px 0 12px 0;
}
.myself-block__bio {
  font-size: 30px;
  line-height: 34px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
}
h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.myself-block__two {
  margin: 30px 0;
}
.contactme button{
  width: auto;
  height: 45px;
  border: 2px solid white;
  cursor: pointer;
  background-color: #262626;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 65px;
}
.contactme button:hover {
  background: #19849B;
}
.portfolio-text {
  margin: 15px 0 28px 0;
}
.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio-example {
  width: 244px;
  height: 244px;
  cursor: pointer;
  position: relative;
}
.portfolio-example::before {
  content: '';
  display: block;
  background: linear-gradient(0deg, rgba(25, 132, 155, 0.5), rgba(25, 132, 155, 0.5));
}
.portfolio-example:hover::before {
  height: 100%;
  content: url(./imgs/Vector.svg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-title {
  margin-top: 104px;
}
footer {
  background: #19849B;
}
.footer-info {
  height: 205px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.footer-rights {
  height: 44px;
  background: #16758A;
  font-weight: 500;
  font-size: 12px;
  line-height: 44px;
  text-align: center;
}
.myself-image.bottom {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 30px;
}
.footer-info__name {
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  align-items: center;
  margin-top: 20px;
}
.footer-info__number {
  font-size: 18px;
  line-height: 21px;
  margin: 6px 0;
}

/*----------ADAPTIVE-------------*/

@media screen and (max-width: 1036px) {
  .portfolio-example {
    width: 230px;
    height: 230px;
  }
  .portfolio-examples {
    justify-content: space-around;
  }
  main {
    padding: 51px 3px 51px 3px;
  }
}
@media screen and (max-width: 990px) {
  main {
    padding: 51px 3px 51px 3px;
  }
  .container {
    max-width: 768px;
  }
  .myself {
    display: block;
  }
  .myself-image {
    width: auto;
    max-width: 762p;
    margin: 0 0 65px 0;
    background-size: 100% 100%;
  }
  .myself-block {
    width: auto;
  }
  .myself-block__two {
    margin-bottom: 25px;
  }
  .portfolio-title {
    margin-top: 60px;
  }
  .portfolio-examples {
    gap: 14px;
  }
  .portfolio-example {
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio-examples {
    justify-content: baseline;
  }
}
@media screen and (max-width: 565px) {
  .myself-block__two {
    margin-bottom: 20px;
  }
  .portfolio-title {
    margin-top: 40px;
  }
}
@media screen and (max-width: 380px) {
  .portfolio-example {
    width: 165px;
    height: 165px;
  }
  footer {
    padding: 0 0 0 3px;
  }
  .myself-image.bottom {
    margin-right: 10px;
  }
}